@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-nunito);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[class*="textarea"] {
  resize: none !important;
  overflow: auto !important;
  scrollbar-width: none !important;
}

[class*="textarea"]::-webkit-scrollbar {
  display: none !important;
}

@layer components {
  .dark .skeleton {
    background-color: rgb(255 255 255 / 0.08);
  }

  .dark .skeleton--shimmer::before {
    background: linear-gradient(
      90deg,
      transparent,
      rgb(255 255 255 / 0.12),
      transparent
    ) !important;
  }
}

.toast {
  width: fit-content;
  margin-left: auto;
  margin-right: 16px;
  padding: 8px 16px 8px 12px;
}

@media (max-width: 639px) {
  .toast {
    margin-left: auto;
    margin-right: auto;
  }
}

@layer components {

    .toast--success .toast__title {
    color: #159845;
  }
  .dark .toast--success .toast__title {
    color: #4ADE80;
  }
  .toast--success .toast__indicator {
    color: #159845;
  }
  .dark .toast--success .toast__indicator {
    color: #4ADE80;
  }

    .toast--danger .toast__title {
    color: #EF4444;
  }
  .dark .toast--danger .toast__title {
    color: #F87171;
  }
  .toast--danger .toast__indicator {
    color: #EF4444;
  }
  .dark .toast--danger .toast__indicator {
    color: #F87171;
  }
}
